*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}


.App {
  text-align: center;
  
}






/* ---------------header--------------- */

.menu{
  width: 900px;
  margin: 0 auto;
}

nav{
  background-color: white;
  
  

  width: 100%;
  clear: both;
  display: table;
}
nav::after{
  position: absolute;
  top: 0%;
  left: 0%;
  content: '';
  background-color: black;
  width: 100%;
  height: 60px;
  z-index: -1;
  filter: blur(8px);
}


.logo{
  width: auto;
  height:55px;

  float: left;
  padding-left: 20px;
  

 
}

nav ul li{
  list-style: none;
  padding:20px 0;
  
  float: left;
}
nav ul li a{
  color:#444;
  text-decoration: none;
  font-weight: bold;

}
nav{
display: flex;
justify-content: space-evenly;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
}

.iconoCarrito{
width:25px;
height: auto;
}


.contCart{
 
  background-color: rgb(0, 38, 255);
  color: white;
  font-size: 9px;

  border-radius: 200px;
  padding: 7px 10px 5px 10px;

}
.containerIconCont{
  display: flex;
}
/* ----------header ends--------- */
/* ----------MAIN---------------- */

/* ITEM COUNT */
.container-counter{
   
  display:flex;
  justify-content:center;

  color: white;
  font-weight: 900;

}
.shown-number{
  background-color:rgb(223, 222, 222);
  padding:7px 60px 7px 60px;
  margin: 0 8px 0 8px;
}
.plus-btn{
  background-color: rgb(236, 198, 43);
  padding: 7px 12px 5px 12px;
  border-radius: 200px;
}
.min-btn{
  background-color: rgb(236, 198, 43);
  padding: 7px 12px 5px 12px;
  border-radius: 200px;
}
/* ITEMS */
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 8% 0 8%;
  
}




.card img{
  width: 250px;
  height: 385px;
}
.card{
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.37);
  margin-bottom: 20px;
}


