*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}


.App {
  text-align: center;
}






/* ---------------header--------------- */

.menu{
  width: 900px;
  margin: 0 auto;
}

nav{
  background-color: white;
  
  

  width: 100%;
  clear: both;
  display: table;
}
nav::after{
  position: absolute;
  top: 0%;
  left: 0%;
  content: '';
  background-color: black;
  width: 100%;
  height: 65px;
  z-index: -1;
  filter: blur(13px);
}


.logo{
  width: auto;
  height:55px;

  float: left;
  padding-left: 20px;
  

 
}

nav ul li{
  list-style: none;
  padding:20px 0;
  
  float: left;
}
nav ul li a{
  color:#444;
  text-decoration: none;
  font-weight: bold;

}
nav{
display: flex;
justify-content: space-evenly;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
}

.iconoCarrito{
width:25px;
height: auto;
}


.contCart{
 
  background-color: rgb(0, 38, 255);
  color: white;
  font-size: 9px;

  border-radius: 200px;
  padding: 7px 10px 5px 10px;

}
.containerIconCont{
  display: flex;
}
/* ----------header ends--------- */